div {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 0.5rem;
  color: black;
  max-width: 50%;

  // Set this to a high value so that it's not hidden by other elements
  z-index: 100;
}

p {
  text-align: end;
}
